{% extends "jkc_base.html" %}
{% load cms_tags menu_tags %}

{% block menubar %}{% show_menu 0 0 1 1 'bootstrap5/menu.html' %}{% endblock %}

{% block content %}
<!-- block content in jkc_fullwidth.html -->
<section class="jkc-fullwidth">
  {% placeholder "content" %}
</section>
{% endblock content %}

{% block bottom_css %}
{{ block.super }}
<!-- block bottom_css in jkc_fullwidth.html -->
<style>
  body {
    background: #EFEBDC;
    background: radial-gradient(circle,rgba(239, 235, 220, 1) 0%, rgba(255, 238, 237, 1) 95%);
  }
  
  .jkc-fullwidth p {
    /*font-family: monospace;*/
  }
  
  .jkc-fullwidth h1, .jkc-fullwidth h2, .jkc-fullwidth h3 {
    font-family: monospace;
    margin-bottom: 2em;
    color: gray;
    -webkit-text-fill-color: gray;
  }
  
  .nav-link {
    font-size: 1.5em;
    font-family: monospace;
    padding-right: 20px !important;
  }
  
  
  p {
    /*
    background: linear-gradient(to right, #8C3310 0%, rgb(13, 13, 13) 46%, rgb(1, 1, 1) 50%, rgb(10, 10, 10) 53%, rgb(78, 78, 78) 76%, rgb(56, 56, 56) 87%, rgb(27, 27, 27) 100%) text;
    -webkit-text-fill-color: transparent;
    */
    color: #000;
    font-family: "Roboto";
    font-weight: 300;
  }
  

  .accordion {
    --bs-accordion-btn-color: black;
    --bs-accordion-btn-bg: transparent;
    --bs-accordion-active-color: black;
    --bs-accordion-active-bg: transparent;
  }
  .accordion-header {
    -webkit-text-fill-color: grey;
    margin-bottom: 0 !important;
    font-size: 0.5rem !important;
  }
  
</style>
{% endblock %}
